* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.whatsapp-link{
    background-color: green;
}

.maps-link{
    background-color: orange;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.navbar h1 {
    font-size: 1.5rem;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
}

.slider-container {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.slide image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left 1s ease;
}

.slider-image.active {
    left: 0;
}

@keyframes slide {
    .0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

.slider {
    animation: slide 10s infinite;
}