* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.whatsapp-link{
    background-color: green;
}

.maps-link{
    background-color: orange;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.navbar h1 {
    font-size: 1.5rem;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
}

